.main .container-fluid {
    padding: 0;
}

.mbottom10{
    padding: 0.75rem 1rem !important;
    margin-bottom: 1.5rem !important;
}

.select2-selection__choice {
  color: #000000 !important;
}
.switch {
  position: relative;
  display: inline-block;
  width: 47px;
  height: 21px;
}
.switch input {display:none;}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 16px;
  left: 2px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
span.help-block {
    color: #cc3f2e;
}
.datepicker > div {
    display: block;
}
.datepicker-dropdown.datepicker-orient-bottom:before{
  display: none;
}
form img.fancybox{
    margin: 20px 0;
    border: 8px double #CCC;
    width: 100%;
}
.fancybox-inner{
    min-height: 500px !important;
    width:100% !important;
}
.fancybox-wrap{
    width: 90% !important;
    left: 5% !important;
}
  #hwpwrap .menu-item-bar .menu-item-handle {
    width: 90%;
}
#hwpwrap .menu-item-settings {
    width: 90%;
}
#hwpwrap label {
    width: 100%;
}

.vi-hidden{
  width:100%;
  visibility: hidden;
}
.card-header-action {
    padding: 0 0.25rem;
    color: #010910;
}
.sidebar .nav-dropdown-items .nav-item {
    padding: 0;
    list-style: none;
    margin-left: 10px;
    font-size: 12px;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #e4e7ea;
}

.select2-container .select2-selection--single {
    height: calc(1.5em + 0.75rem + 2px);
    border: 1px solid #e4e7ea;

}
/* dashboad layout */
.dashboard-icon{
  border-radius: 5px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 56px;
  text-align: center;
  box-shadow: 0 7px 30px rgba(128, 116, 252, 0.5);
}
.dashboard-icon i{
  color:#fff;
  font-size: 24px;
}
.project-content ul li{
  list-style: none;
}
.project-content ul{
  margin: 0;
  padding: 0;
}
.project-card .project-content ul strong {
  color: #97a3b9;
  font-size: 12px;
  font-weight: 400;
}
.project-card .project-content ul span {
  color: #323232;
  float: right;
  font-weight: 600;
  text-align: right;
  margin-left: auto;
}
.project-content {
  width: 100%;
  padding-right: 20px;
  box-sizing: border-box;
}
.main-top-dashboard .no-gutters {
  margin:0 -5px;
}
.main-top-dashboard .no-gutters > .col, .main-top-dashboard .no-gutters > [class*="col-"] {
  padding: 0 5px;
}
.project-content h6 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}
.icon-1{
  background: linear-gradient(45deg, #3858f9, #8e79fd);
}
.icon-2{
  background: linear-gradient(45deg, #f53c5b, #fb768c);
}
.icon-3{
  background: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}
.icon-4{
  background-image: linear-gradient(45deg, #ff5858 0%, #f09819 100%);
}
.card-title{
  font-size: 16px;
  margin-bottom: 0;
}
.item-table-list h4 {
  font-size: 15px;
  margin-bottom: 15px;
}
.item-table-flex{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.item-flex-title{
  flex:1;
}
.item-flex-title p{
  margin-bottom: 0;
  font-weight: 500;
}
.item-card .no-gutters {
  margin:0 -5px;
}
.item-card .no-gutters > .col, .item-card .no-gutters > [class*="col-"] {
  padding: 0 5px;
}
.header-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}
.header-flex h4{
  flex: 1;
  font-size: 15px;
  margin-bottom: 0;
}
.header-flex span{
  font-size: 15px;
  font-weight: 500;
}
.item-card .card{
  height: 95%;
}
.custom-table1.table th, .custom-table1.table td {
  padding: .5rem;
  border-top: 1px solid #eaeaea;
}
.custom-table1.table th{
  font-weight: 500;
  color:#222;
}
.card-flex1{
  display: flex;
  flex-direction: row;
}
.card-flex1 h3{
  flex: 1;
}
.view-more a{
  font-size: 14px;
}
.activity-list ul li {
  position: relative;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 8px;
  padding-bottom: 8px;
}
.activity-list ul li:last-child{
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.timeline-dots {
  position: absolute;
  background: #0084ff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 5px;
  left: 4px;
  height: 14px;
  width: 14px;
  top: 4px;
}
.activity-infos {
  padding-left: 25px;
}
.activity-infos h6{
  margin:3px 0 0;
}
.activity-infos p{
  margin-bottom: 0;
}