.logo img {
    width: 100%;
    height: auto;
}

ul.navbar-nav > li > a {
    padding: 10px 0 !important;
    color: #fff;
}

.banner-carousel .banner-carousel-item {
 height: 500px;
}

.latest-post-img img{
	width: 100%;
	height: 150px;
	object-fit:cover;
}

.ts-service-image-wrapper img {
	width: 100%;
	height: 150px;
	object-fit:contain;
}

.ts-service-box-img img {
	width: 100%;
	height: 50px;
	object-fit:cover;
}


.post-media.post-image img {
	width: 100%;
    height: 200px;
    object-fit: contain;
}

.footer-main {
    padding: 50px 0 30px !important;
}

.banner-image {
  position: relative;
  padding: 180px 0px;
  background-size: cover !important;
}
